In [6]:
## import libraries

import pandas as pd 
import sqlalchemy 
import datetime

In [7]:
raw_data = pd.read_csv('air_quality_Nov2017.csv')
station_links = pd.read_csv('air_stations_Nov2017.csv')

In [28]:
raw_data.head()

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,NaN,NaN,NaN,0h,Good,84.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,0h,Moderate,113.0,0h,Good,36.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,0h,Good,73.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
3,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,2.0,0h,Good,86.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104
4,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,7.0,0h,Good,69.0,NaN,NaN,NaN,01/11/2018 0:00,1541027104

We remove the columns that are not needed for our analysis. In this case, the columns that are needed are: 
- Station
- Air Quality 
- O3 Quality
- 03 Value
- NO2 Quality
- NO2 Value
- PM10 Quality
- PM10 Value 
- Generated 
- Date Time

In [11]:
raw_data.columns.tolist()

['Station',
 'Air Quality',
 'Longitude',
 'Latitude',
 'O3 Hour',
 'O3 Quality',
 'O3 Value',
 'NO2 Hour',
 'NO2 Quality',
 'NO2 Value',
 'PM10 Hour',
 'PM10 Quality',
 'PM10 Value',
 'Generated',
 'Date Time']

In [13]:
raw_data_selected = raw_data[['Station', 'Air Quality', 'O3 Quality', 'O3 Value', 'NO2 Quality', 'NO2 Value', 'PM10 Quality', 'PM10 Value', 'Generated', 'Date Time']]

### Missing values
#### Method 1: dropping all the NaN values of the entire dataset.

In [18]:
raw_data_selected.isna().sum()

Station            0
Air Quality        0
O3 Quality      1476
O3 Value        1643
NO2 Quality       55
NO2 Value        284
PM10 Quality    2022
PM10 Value      2097
Generated          0
Date Time          0
dtype: int64

In this case we have removed all the rows that have a "NaN" value there. If we perform an analysis of what we have done, we can see the total amount of data we have lost

In [33]:
before_rows = raw_data_selected.shape[0]
before_rows

5744

In [34]:
clean_air_quality = raw_data_selected.dropna()
clean_air_quality.head()

,Station,Air Quality,O3 Quality,O3 Value,NO2 Quality,NO2 Value,PM10 Quality,PM10 Value,Generated,Date Time
1,Barcelona - Eixample,Moderate,Good,1.0,Moderate,113.0,Good,36.0,01/11/2018 0:00,1541027104
5,Barcelona - Palau Reial,Good,Good,11.0,Good,57.0,Good,23.0,01/11/2018 0:00,1541027104
7,Barcelona - Observ Fabra,Good,Good,58.0,Good,3.0,Good,25.0,01/11/2018 0:00,1541027104
9,Barcelona - Eixample,Good,Good,6.0,Good,80.0,Good,35.0,01/11/2018 1:00,1541030725
13,Barcelona - Palau Reial,Good,Good,27.0,Good,38.0,Good,24.0,01/11/2018 1:00,1541030725

In [35]:
after_na_rows = clean_air_quality.shape[0]

In [40]:
data_lost_perc = ((before_rows - after_na_rows)/before_rows)*100
print(f"The percentage of data that is NaN and has been removed is {data_lost_perc}")

The percentage of data that is NaN and has been removed is 50.330779944289695

#### Method 2: Instead of NaN removal, values interpolation

### Data splitting per station

In [ ]:
BCN_Sants =

In [29]:
time_index_air_quality = pd.DatetimeIndex(raw_data_selected["Generated"])

raw_data_selected.head()

,Station,Air Quality,O3 Quality,O3 Value,NO2 Quality,NO2 Value,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,NaN,NaN,Good,84.0,NaN,NaN,01/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,Good,1.0,Moderate,113.0,Good,36.0,01/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,Good,10.0,Good,73.0,NaN,NaN,01/11/2018 0:00,1541027104
3,Barcelona - Ciutadella,Good,Good,2.0,Good,86.0,NaN,NaN,01/11/2018 0:00,1541027104
4,Barcelona - Vall Hebron,Good,Good,7.0,Good,69.0,NaN,NaN,01/11/2018 0:00,1541027104